

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: #121212;
    color: #fff;
}


::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb{
    background: #4b4848;
}


#title {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2em;
    color: #fff;
    text-align: center;
}


.results {
  columns:3;
  column-gap: 5px;
  width:80%;
  margin: 10em auto;
    position: relative;  
}

 p{
    text-align: center;
font-size:3rem;
min-width: 40rem;
margin-top: -3em;
margin-left:2em;
}


img { 
   width:100%;
   padding: 5px;
   border-radius: 1.5rem;
   pointer-events: none;
} 




label {
    position: relative;
    margin-left: 31em;
    top: 2em;
  }
  
  label svg {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  
    color: #393838;
    transition: color 0.2s;
  }
  
  label:focus-within svg {
    color: #f5f8ff;
  }
  
  label input {
    font-family: inherit;
    font-size: 1.2rem;
    color: #f5f8ff;
  
    background: rgba(245, 248, 255, 0.025);
  
    padding: 1rem 3.5rem;
    min-width: 12rem;
    width: 35rem;
    text-align: center;
  
    outline: none;
    border: 0.15rem solid transparent;
    border-radius: 0.4rem;
  
 
    transition: all 0.3s linear;
  }
  

  label:hover input {
    border-color: rgba(245, 248, 255, 0.2);
  }
  

  label input::placeholder {
    color: #393838;
    user-select: none;
  }
  

  label input:focus {
      outline:none;
    box-shadow: 0 0 0 10px #363d4250;
    border: none;
  }


  